*.iml
/local.properties
/.idea
/.gradle
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
gradlew.bat
google-services.json
app/.idea/gradle.xml
app/.idea/misc.xml
app/.idea/modules.xml
app/.idea/vcs.xml
app/.idea/workspace.xml
app/local.properties
